<header class="header">
  <!-- Favicons -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="/img/logtb.png" alt="TB LOGISTICA" width="160">
      </a>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="{{ relLangURL "/" }}">Home</a></li>
        <li><a href="{{ relLangURL "/chi-siamo/" }}">Chi Siamo</a></li>
        <li><a href="{{ relLangURL "/#servizi" }}">Servizi</a></li>
        <li><a href="{{ relLangURL "/contatti/" }}">Contatti</a></li>
        <li><a href="{{ relLangURL "/#galleria" }}">Galleria</a></li>
      </ul>
    </nav>
  </div>
</header>
