<section class="intro container">
  <h2 class="section-title">La Nostra Storia</h2>

  <p>TB Logistica SRL, fondata oltre 40 anni fa dal padre di Oscar Testa, è oggi un leader riconosciuto nel trasporto di animali e servizi nella provincia di cuneo.</p>
  <p>Attualmente guidata da Oscar e i suoi tre soci,Max, Marco e Gabriele, l’azienda si impegna a garantire la massima sicurezza e il benessere degli animali durante i trasporti.</p>
  <p>Con un patrimonio di esperienza accumulato e una profonda dedizione al servizio clienti, TB Logistica continua a espandere la sua rete e a innovare i propri servizi, consolidando la sua posizione di spicco nel settore e rispettando rigorosi standard etici e qualitativi nel trasporto animali.</p>

  <p style="text-align:center; margin-top:1rem;">
    <a href="{{ relLangURL "/chi-siamo/" }}" class="card-cta">Scopri di più</a>
  </p>
</section>
